:root,
:root.light {
    --body-color: #CBD5E0; /* navbar, */
    --container-bg-color: #ffffff; /* sidebar, subject,  subject h3, 
    last used, share label, modal content bg, */
    --box-shadow-color: #393c40;
    --subject-hover-color: #cbd9e6; /* assessment, */
    --content-color: #adadad; /* header, */
    --h1-color: #113366; /* edit, score, view,  */
    --last-used-bg-color: #32659a; /* share label bg, */
    --details-color: #666;
    --modal-color: rgba(0, 0, 0, 0.5);
    --modal-content-border-color: #888;
    --close-button-color: #aaa;
    -close-button-color: #000; /* hover and focus, */
    --score-table-color: #ddd; /* th and td, */
    --score-table-th-bg-color: #f2f2f2;
    --score-table-tr-hover-color: #f1f1f1;
}

:root.dark {
    --body-color: #1A202C;
    --container-bg-color: #2A4365;
    --box-shadow-color: #FFFFFF;
    --subject-hover-color: #4A5568;
    --content-color: #A0AEC0;
    --h1-color: #CBD5E0;
    --last-used-bg-color: #2C5282;
    --details-color: #718096;
    --modal-color: rgba(0, 0, 0, 0.8);
    --modal-content-border-color: #4A5568;
    --close-button-color: #A0AEC0;
    --score-table-color: #2D3748;
    --score-table-th-bg-color: #4A5568;
    --score-table-tr-hover-color: #2A4365;
    --text-color: #FFFFFF;
}

:root.purple {
    --body-color: #E9D8FD;
    --container-bg-color: #FAF5FF;
    --box-shadow-color: #1A202C;
    --subject-hover-color: #D6BCFA;
    --content-color: #6B46C1;
    --h1-color: #5A31A5;
    --last-used-bg-color: #6B46C1;
    --details-color: #9F7AEA;
    --modal-color: rgba(0, 0, 0, 0.6);
    --modal-content-border-color: #A16BBF;
    --close-button-color: #6B46C1;
    --score-table-color: #B794F4;
    --score-table-th-bg-color: #D6BCFA;
    --score-table-tr-hover-color: #C1A9F6;
    --text-color: #1A202C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--body-color);
}

.dark p,
.dark td,
.dark .radio-choice {
    color: var(--text-color);
}

.purple p,
.purple td,
.purple .radio-choice {
    color: var(--text-color);
}

.navbar {
    width: 100%;
    background-color: var(--body-color);
    display: flex;
    justify-content: space-between; /* Space out elements */
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.page-name {
    position: relative;
    padding: 70px 30px;
    height: 100px;
    margin: 0px;
    text-align: right;
}

.logo-page-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;              
    padding: 0 30px;           
    box-sizing: border-box;     
}

.page-name img {
    max-height: 130px;
    height: auto;
}

.logo img {
    width: 140px;
    height: auto;
}

.container {
    position: relative;
    display: flex;
    background-color: var(--container-bg-color);
    border-radius: 20px;
    box-shadow: -8px 8px 0 var(--box-shadow-color);
    overflow: hidden;
    width: 62.5rem;
    margin: 40px auto;
}

.sidebar {
    width: 200px;
    background-color: var(--container-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar .subject img {
    width: 100%;
    height: auto;
    display: block;
}

.subject {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--container-bg-color);
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

button { 
    background-color: transparent;
    border: none;
}

.subject:hover {
    background-color: var(--subject-hover-color);
}

.subject h3 { 
    color: var(--container-bg-color);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    border-left: 2px solid var(--content-color); /* The line that separates the sidebar from the content */
}

h1 {
    font-size: 36px;
    color: var(--h1-color);
    text-align: center;
    font-size: 70px;
}

.assessment {
    background-color: var(--subject-hover-color);
    border-radius: 20px;
    margin: 20px 0;
    padding: 15px;
    box-shadow: -8px 8px 0 var(--box-shadow-color);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--content-color);
    gap: 10px;
}

.edit {
    text-decoration: none;
    color: var(--h1-color);
    font-size: 16px;
    margin-left: auto;
}

.score {
    color: var(--h1-color);
    font-size: 16px;
}

.title-status {
    display: flex;
    flex-direction: column; /* Stack title and status vertically */
}

.title, .status {
    font-size: 18px;
}

.last-used {
    background-color: var(--last-used-bg-color);
    color: var(--container-bg-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: -10px; 
    right: 15px; 
}

.view {
    text-decoration: none;
    color: var(--h1-color);
    font-size: 16px;
}

.details {
    margin: 10px 0;
    color: var(--details-color);
}

.share {
    display: flex;
    align-items: center;
}

.share label {
    font-size: small;
    margin-right: 5px;
    color: var(--container-bg-color);
    font-weight: bold;
    background-color: var(--last-used-bg-color);
    padding: 2px 5px;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-color);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    background-color: var(--container-bg-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: -8px 8px 0 var(--box-shadow-color);
}

.close-button {
    color: var(--close-button-color);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: var(-close-button-color);
    text-decoration: none;
    cursor: pointer;
}

.score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.score-table th, .score-table td {
    border: 1px solid var(--score-table-color);
    padding: 8px;
    text-align: center;
}

.score-table th {
    background-color: var(--score-table-th-bg-color);
}

.score-table tr:hover {
    background-color: var(--score-table-tr-hover-color);
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #CBD5E0;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 70px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 1px solid transparent;
}

.nav a:hover, .nav a.active {
    background-color: #d0e1f9;
    color: #1A202C;  
    font-weight: 700;
    border: 1px solid black;
}

.dropdown {
    position: relative;
    margin-top: 10px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6b83a3;
    margin-top: 10px;
    padding: 10px 0;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%; 
    transform: translateX(-50%); 
    max-width: 90vw; 
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #d0e1f9;
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-icon {
    display: none; 
    font-size: 24px;
    cursor: pointer;
    color: #1A202C;
    margin-left: 200px;
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .logo-page-name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: nowrap;
        align-content: center;
    }

    .page-name img {
        max-height: 90px;
    }

    .container {
        flex-direction: column;
        width: 95%;
        margin: 5px auto;
        border-radius: 10px;
    }

    .sidebar {
        width: 35%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex: 1;
        padding: 20px;
        border-left: none;
    }

    .modal-content {
        max-width: 100%;
    }

    tr {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 60rem;
    }

    .logo-page-name-container {
        gap: 45%;;
    }

    .logo img {
        max-width: 140px;
        height: auto; 
    }
    .modal-content {
        max-width: 100%;
        font-size: 1.2rem;
    }
    .modal-content h2 {
        font-size: 2rem;
    }
}   

