* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #CBD5E0;
}

.navbar {
    width: 100%;
    background-color: #CBD5E0;
    display: flex;
    justify-content: space-between; /* Space out elements */
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.page-name {
    position: relative;
    height: 100px;
    margin: 0px;
}

.logo-page-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;              
    padding: 0 30px;           
    box-sizing: border-box;     
}

.page-name img {
    max-height: 130px;
    height: auto;    
}

.logo img {
    width: 140px;
    height: auto;
}

.container {
    position: relative;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1000px;
    margin: 40px auto;
}

.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar .subject img {
    width: 100%;
    height: auto;
    display: block;
}

.subject {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

button { 
    background-color: transparent;
    border: none;
}

.subject:hover {
    background-color: #cbd9e6;
}

.subject h3 { 
    color: #ffffff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #adadad; /* The line that separates the sidebar from the content */
}

h1 {
    font-size: 36px;
    color: #113366;
    text-align: center;
    font-size: 70px;
}

.assessment {
    background-color: #cbd9e6;
    border-radius: 20px;
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #adadad;
    gap: 10px;
}

.edit {
    text-decoration: none;
    color: #113366;
    font-size: 16px;
    margin-left: auto;
}

.score {
    color: #113366;
    font-size: 16px;
}

.title-status {
    display: flex;
    flex-direction: column; /* Stack title and status vertically */
}

.title, .status {
    font-size: 18px;
}

.last-used {
    background-color: #32659a;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: -10px; /* Adjust this value to place it slightly above the assessment box */
    right: 15px; /*Align to the right of the container */
}

.view {
    text-decoration: none;
    color: #113366;
    font-size: 16px;
}

.details {
    margin: 10px 0;
    color: #666;
}

.share {
    display: flex;
    align-items: center;
}

.share label {
    font-size: small;
    margin-right: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #32659a;
    padding: 2px 5px;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.score-table th, .score-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.score-table th {
    background-color: #f2f2f2;
}

.score-table tr:hover {
    background-color: #f1f1f1;
}

/* @media (max-width: 480px) {
    .container {
        max-width: 480px;
        box-shadow:none;

    }
} */
