body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CBD5E0;
    margin: 0;
    padding-top: 50px; 
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: #CBD5E0;
    padding: 9px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.container {
    background-color: #CBD5E0;
    margin-top: 80px; 
    text-align: center;
}

.quiz-id {
    font-size: 1.5em;
    font-weight: bold;
    color: #022343;
    margin-bottom: 10px; 
}

.copy-btn {
    background-color: #022343;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    display: inline-block;
    margin-top: 5px; 
}

.copy-btn:hover {
    background-color: #034582;
}

h1 {
    color: #022343;
    padding: 5px 30px;
    font-size: 2.5vw;
    margin: 0;
}

h3 {
    color: #022343;
    margin: 10px;
    font-size: 1.5vw;
}   

h4 {
    margin: 10px;
    font-size: 1.2vw;
}

#quizContainer {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#questionCounter {
    font-weight: bold;
    font-size: 1.5vw;
    color: #333;
}

p {
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    font-size: 1.5vw;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin: 10px 5px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: #022343;
    color: white;
    padding: 10px 20px;
    font-size: 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #034582;
}

#titleDescription {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    font-weight: bold;
    max-width: 700px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#quizSettings {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    font-weight: bold;
    max-width: 700px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    h3 {
        font-size: 3.5vw;
    }

    h4 {
        font-size: 3vw;
    }

    #questionCounter {
        font-size: 3vw;
    }

    p {
        font-size: 3.5vw;
    }

    button {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 8vw;
    }

    h3 {
        font-size: 4.5vw;
    }

    h4 {
        font-size: 4vw;
    }

    #questionCounter {
        font-size: 4vw;
    }

    p {
        font-size: 4.5vw;
    }

    button {
        font-size: 1rem;
    }
}

#image-preview {
    max-width: 100%;
}
