:root,
:root.light {
    --bg-color: #d0e1f9;
    --header-bg-color: #d0e1f9;
    --sidebar-bg-color: #6b83a3;
    --sidebar-text-color: #1A202C;
    --content-bg-color: white;
    --text-color: #1A202C;
    --hover-bg-color: #d0e1f9;
    --input-bg-color: #d0e1f9;

    --navbar: #6b83a3;
    --logo: #1A202C;
    --nav: #1A202C;
    --dropdown: #6b83a3;
    --dropbtn: #d0e1f9;
    --dropdown-content: #ffffff;

    --slideshow-container: #d0e1f9;
    --slide: #ffffff;
    --dots-container: #6b83a3;
    --dot: #CBD5E0;

    --container: #ffffff;
    --content: #f7fafc;
    --left-section: #e2e8f0;
    --illustration: #CBD5E0;
    --text-content: #1A202C;

    --assessment: #CBD5E0;
    --study-companion: #CBD5E0;
    --assessment-container: #f7fafc;
    --student-container: #f7fafc;
    --assessment-options: #d0e1f9;

    --hover-content: #6b83a3;
    --footer-content: #374664;
    --contact-info: #374664;
}

:root.dark {
    --bg-color: #1A202C;
    --header-bg-color: #1A202C;
    --sidebar-bg-color: #2D3748;
    --sidebar-text-color: #F7FAFC;
    --content-bg-color: #2C5282;
    --text-color: #F7FAFC;
    --hover-bg-color: #4A5568;
    --input-bg-color: #4A5568;

    --navbar: #2D3748;
    --logo: #F7FAFC;
    --nav: #CBD5E0;
    --dropdown: #4A5568;
    --dropbtn: #2C5282;
    --dropdown-content: #1A202C;

    --slideshow-container: #1A202C;
    --slide: #2C5282;
    --dots-container: #4A5568;
    --dot: #CBD5E0;

    --container: #2D3748;
    --content: #1A202C;
    --left-section: #4A5568;
    --illustration: #2C5282;
    --text-content: #CBD5E0;

    --assessment: #4A5568;
    --study-companion: #4A5568;
    --assessment-container: #2D3748;
    --student-container: #2D3748;
    --assessment-options: #4A5568;

    --hover-content: #2C5282;
    --footer-content: #1A202C;
    --contact-info: #CBD5E0;
}


:root.purple {
    --bg-color: #e3d3f5;
    --header-bg-color: #e3d3f5;
    --sidebar-bg-color: #a16bbf;
    --sidebar-text-color: #1A202C;
    --content-bg-color: #b68cdb;
    --text-color: #1A202C;
    --hover-bg-color: #d0b2e0;
    --input-bg-color: #e3d3f5;

    --navbar: #a16bbf;
    --logo: #1A202C;
    --nav: #1A202C;
    --dropdown: #a16bbf;
    --dropbtn: #e3d3f5;
    --dropdown-content: #ffffff;

    --slideshow-container: #e3d3f5;
    --slide: #b68cdb;
    --dots-container: #a16bbf;
    --dot: #d0b2e0;

    --container: #ffffff;
    --content: #f3e8fc;
    --left-section: #e5cef6;
    --illustration: #d0b2e0;
    --text-content: #1A202C;

    --assessment: #d0b2e0;
    --study-companion: #d0b2e0;
    --assessment-container: #e3d3f5;
    --student-container: #e3d3f5;
    --assessment-options: #d0b2e0;

    --hover-content: #a16bbf;
    --footer-content: #a16bbf;
    --contact-info: #1A202C;
}

body {
    font-family: 'Gothic', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
}

#loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#logo {
    width: 570px; 
    animation: pop 2s ease-in-out forwards; 
}

@keyframes pop {
    0% {
        transform: scale(0.8); 
        opacity: 0; 
    }
    50% {
        transform: scale(1.05);
        opacity: 1; 
    }
    100% {
        transform: scale(1); 
    }
}

.loading-logo{
    width: 50%;
    height: auto; 
    max-height: 50%;
    object-fit: contain;
    animation: pop 2s ease-in-out forwards; 
}