body {
    font-family: 'Gothic', sans-serif;
    margin: 20px;
    background-color: #d0e1f9;
}

.question {
    color: #d0e1f9;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #022343;
}

ul {
    padding-left: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

.randomizer img {
    width: 30px;
    height: 30px;
}

#quizContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
}
