:root,
:root.light {
    --bg-color: #d0e1f9;
    --header-bg-color: #d0e1f9;
    --sidebar-bg-color: #6b83a3;
    --sidebar-text-color: #1A202C;
    --content-bg-color: white;
    --text-color: #1A202C;
    --hover-bg-color: #d0e1f9;
    --input-bg-color: #d0e1f9;
}

:root.dark {
    --bg-color: #1A202C;
    --header-bg-color: #1A202C;
    --sidebar-bg-color: #2D3748;
    --sidebar-text-color: #F7FAFC;
    --content-bg-color: #2C5282;
    --text-color: #F7FAFC;
    --hover-bg-color: #4A5568;
    --input-bg-color: #4A5568;
}

:root.purple {
    --bg-color: #e3d3f5;
    --header-bg-color: #e3d3f5;
    --sidebar-bg-color: #a16bbf;
    --sidebar-text-color: #1A202C;
    --content-bg-color: #b68cdb;
    --text-color: #1A202C;
    --hover-bg-color: #d0b2e0;
    --input-bg-color: #e3d3f5;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.container {
    display: flex;
    height: 80vh;
    width: 60vw;
    margin: auto;
    margin-top: 13vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    z-index: -1;
}

.sidebar {
    width: 30%;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 40px;
}

.sidebar svg {
    width: 2rem;
    cursor: pointer;
    transition: transform 0.2s, fill 0.2s;
}

.sidebar svg:hover {
    transform: scale(1.2);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
    font-size: 18px;
}

.sidebar ul li a {
    color: var(--sidebar-text-color);
    text-decoration: none;
    transition: background-color 0.5s;
}

.sidebar ul li a:hover {
    background-color: var(--hover-bg-color);
    border-radius: 8px;
    padding: 5px 30px;
}

.content {
    width: 70%;
    background-color: var(--content-bg-color);
    padding: 40px;
    overflow-y: auto;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
}

.username {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.username h3 {
    margin: 0;
    font-size: 20px;
    padding: 5px 20px;
    background-color: var(--hover-bg-color);
    border-radius: 10px;
}

.username p {
    margin: 0;
    color: var(--text-color);
}

.basic-info {
    margin-top: 40px;
}

.basic-info h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 20px;
    color: var(--text-color);
    
}

.info-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

.info-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--hover-bg-color);
    border-radius: 10px;
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

.illustration {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.illustration img {
    width: 100px;
}

input[type="file"]::-webkit-file-upload-button,
#saveButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--hover-bg-color); 
    color: var(--text-color); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover,
#saveButton:hover {
    background-color: #1A202C; 
    color: #ffffff;
}