:root,
:root.light {
    --body-color:#d3dfea; /* same with right-container-bg-color, quiz-info-table-bg-color, 
    same with quiz-info-td-bg-color,  quiz-info-td-first-child-bg-color, quiz-contaiener, quiz-link-colors, 
    */
    --divider-color: grey;
    --left-container-bg-color: #f5f5f5;
    --box-shadow-color: #393c40; /* same with individual-container-shadow-color, quiz-container-shadow-color, 
    */
    --left-container-h1-bg-color: #34435d;
    --left-container-h1-color: white; /* individual-container-h3-bg-color */
    --left-container-h3-bg-color: #32659a; /* same with finish-review-bg-color, individual-container-h3-bg-color, 
    back-to-top-bg-color, button-bag-color, quiz-container-h3, quiz-container and quiz-link-hover colors*/
    --left-container-h3-color: #cbd9e6; /* same with finish-review-color, back-to-top-color, arrow-border-color, 
    button-svg-color*/
    --finish-review-hover-color: #2c3b50; /* same with back-to-top-hover-color, */
    --question-section-border-color: #ccc; /* same with quiz-info-td-border, */
    --question-section-bg-color: #f9f9f9; /* same with individual-container-bg-color, quiz-container-bg-color, 
    quiz-container and quiz-link-hover colors*/
    --nav-btn-color: black;
    --quiz-list-a-color: #007acc; /* same with quiz-container, quiz-link-colors, */
    --button-color: #7d97ba; /* same with icon-fill-stroke-colors, */
    --button-hover-color: #204569;
    --quiz-container-border-color: #ddd;
}

:root.dark {
    --body-color: #1A202C;
    --divider-color: #555;
    --left-container-bg-color: #2A4365;
    --box-shadow-color: white;
    --left-container-h1-bg-color: #2C5282;
    --left-container-h1-color: #E2E8F0;
    --left-container-h3-bg-color: #2B6CB0;
    --left-container-h3-color: #A0AEC0;
    --finish-review-hover-color: #1A365D;
    --question-section-border-color: #444;
    --question-section-bg-color: #2A4365;
    --nav-btn-color: #F7FAFC;
    --quiz-list-a-color: #63B3ED;
    --button-color: #4A5568;
    --button-hover-color: #2B6CB0;
    --quiz-container-border-color: #444;
    --text-color: #FFFFFF;
}

:root.purple {
    --body-color: #E9D8FD;
    --divider-color: #a16bbf;
    --left-container-bg-color: #b68cdb;
    --box-shadow-color: #1A202C;
    --left-container-h1-bg-color: #553C9A;
    --left-container-h1-color: #FAF5FF;
    --left-container-h3-bg-color: #805AD5;
    --left-container-h3-color: #D6BCFA;
    --finish-review-hover-color: #6B46C1;
    --question-section-border-color: #B794F4;
    --question-section-bg-color: #b68cdb;
    --nav-btn-color: #1A202C;
    --quiz-list-a-color: #9F7AEA;
    --button-color: #805AD5;
    --button-hover-color: #6B46C1;
    --quiz-container-border-color: #B794F4;
    --text-color: #1A202C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--body-color);
    padding: 20px;
}

.dark p,
.dark td,
.dark .radio-choice {
    color: var(--text-color);
}

.purple p,
.purple td,
.purple .radio-choice {
    color: var(--text-color);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 75px; 
    max-width: 1800px; 
    margin: auto; 
    padding: 20px;
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--divider-color);
    margin: 10px 10px;
    width: 100%px;
}

.left-container {
    width: 20%;
    max-height: fit-content;
    background-color: var(--left-container-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: -8px 8px 0 var(--box-shadow-color);
    overflow-y: auto;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
}

.left-container h1 {
    padding: 15px 30px;
    margin: 15px 0;
    border-radius: 25px;
    background-color: var(--left-container-h1-bg-color);
    color: var(--left-container-h1-color);
    display: inline-block;
    width: fit-content;
}

.left-container h3 {
    padding: 10px 10px;
    margin: 15px 0;
    border-radius: 25px;
    background-color: var(--left-container-h3-bg-color);
    color: var(--left-container-h3-color);
    display: inline-block;
    width: fit-content;
}

.left-container p,
.left-container .pdf-button {
    font-size: 0.9rem;
    padding: 8px;
}

.pdf-button {
    display: block;
    margin: 15px auto;
    padding: 10px;
    background-color: #349a32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s;
}

.pdf-button:hover {
    transform: scale(1.05);
    background-color: #2a7f2c;
}

.finish-review {
    padding: 10px 50px;
    background-color: var(--left-container-h3-bg-color);
    color: var(--left-container-h3-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: bold;
    transition: background-color 0.3s;
}

.finish-review:hover {
    background-color: var(--finish-review-hover-color);
}

.right-container {
    width: 45%;
    max-height: fit-content;
    background-color: var(--body-color);
    padding: 20px;
    border-radius: 10px;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--question-section-border-color);
    border-radius: 5px;
    background-color: var(--question-section-bg-color);
}

.question-section h3 {
    font-size: 1.2rem;
}

.question-section ul {
    list-style-type: none;
    padding-left: 0;
}

.question-section li {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

.quiz-info {
    margin: 15px 0;
}

.quiz-navigation h3 {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 7px 15px;
}

.quiz-navigation h3 img { /*change colors*/
    height: 1.5rem;
    width: auto;
    object-fit: contain;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
}

.nav-btn {
    width: 40px; 
    height: 60px; 
    border-radius: 30px; 
    border: none;
    color: var(--nav-btn-color);
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 20px;
    font-weight: bold;
}

.nav-btn-link {
    text-decoration: none;
}

.correct, .nav-correct {
    background-color: #6fb46e;
}

.wrong, .nav-wrong {
    background-color: #cb5b5b;
}

.correct, .wrong {
    padding: 10px;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.quiz-list {
    list-style: none;
    padding: 0;
}

.quiz-list li {
    margin-bottom: 10px;
}

.quiz-list a {
    text-decoration: none;
    color: var(--quiz-list-a-color);
}

.quiz-list a:hover {
    text-decoration: underline;
}

.quiz-info table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px auto;
    background-color: var(--body-color);
}

.quiz-info td {
    border: 1px solid var(--question-section-border-color);
    padding: 4px;
    background-color: var(--body-color);
}

.quiz-info td:first-child {
    font-weight: bold;
    background-color: var(--body-color);
}

.individual-container {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: -8px 8px 0 var(--box-shadow-color), 0 8px 0 var(--box-shadow-color);
    background-color: var(--question-section-bg-color);
    flex-shrink: 0;
    min-height: 80px;
    position: relative;
}

.individual-container h3 {
    padding: 10px 15px;
    background-color: var(--left-container-h3-bg-color);
    color: var(--left-container-h1-color);
    border: none;
    border-radius: 15px;
    cursor: default;
    margin: 5px 0;
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.individual-container p {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.individual-container ul {
    list-style-type: none;
    padding: 0;
}

.individual-container li {
    font-size: 16px;
    margin-bottom: 20px;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--left-container-h3-bg-color);
    color: var(--left-container-h3-color);
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s;
    width: 60px;
    height: 60px;
}

.back-to-top:hover {
    background-color: var(--finish-review-hover-color);
}

.arrow {
    border: solid var(--left-container-h3-color);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-image img {
    width: 625px;
    height: 75px;
    object-fit: contain;
}

.button-container {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;
    background-color: var(--left-container-h3-bg-color);
    color: var(--button-color);
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon {
    width: 25px;
    height: 25px;
    fill: var(--button-color);
    stroke: var(--button-color);
    stroke-width: 1.5;
    transition: fill 0.3s;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button svg {
    width: 25px;
    height: 25px;
    fill: var(--left-container-h3-color);
}

.quizzes-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    max-width: 1440px;
    margin: 20px auto;
}

.quiz-container {
    background-color: var(--question-section-bg-color);
    padding: 30px;
    border: 1px solid var(--quiz-container-border-color);
    text-align: center;
    border-radius: 8px;
    box-shadow: -8px 8px 0 var(--box-shadow-color), 0 8px 0 var(--box-shadow-color);
}

.quiz-container p {
    font-weight: bold;
}

.quiz-container:hover {
    transform: translateY(-15px);
}

.quiz-container h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.quiz-container .quiz-link {
    text-decoration: none;
    color: var(--quiz-list-a-color);
    font-weight: bold;
    padding: 10px 15px;
    background-color: var(--body-color);
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.quiz-container .quiz-link:hover {
    background-color: var(--left-container-h3-bg-color);
    color: var(--question-section-bg-color);
}