:root,
:root.light {
    --bg-color: #d0e1f9;
    --header-bg-color: #d0e1f9;
    --sidebar-bg-color: #6b83a3;
    --sidebar-text-color: #1A202C;
    --content-bg-color: white;
    --text-color: #1A202C;
    --hover-bg-color: #d0e1f9;
    --input-bg-color: #d0e1f9;

    --navbar: #6b83a3;
    --logo: #1A202C;
    --nav: #1A202C;
    --dropdown: white;
    --dropbtn: #d0e1f9;
    --dropdown-content: #ffffff;
    --dropdown-content-text: #1A202C;

    --slideshow-container: #d0e1f9;
    --slide: #ffffff;
    --dots-container: #6b83a3;
    --dot: #CBD5E0;

    --container: #ffffff;
    --content: #f7fafc;
    --left-section: #e2e8f0;
    --illustration: #CBD5E0;
    --text-content: #1A202C;

    --assessment: #CBD5E0;
    --study-companion: #CBD5E0;
    --assessment-container: #f7fafc;
    --student-container: #f7fafc;
    --assessment-options: #0d1b2a;

    --hover-content: #6b83a3;
    --footer-content: #374664;
    --contact-info: #374664;
    /*new*/
    --assessment-hover: #17304b;
    --assessment-text: white;
    
}

:root.dark {
    --bg-color: #1A202C;
    --header-bg-color: #1A202C;
    --sidebar-bg-color: #2D3748;
    --sidebar-text-color: #F7FAFC;
    --content-bg-color: #2C5282;
    --text-color: #F7FAFC;
    --hover-bg-color: #4A5568;
    --input-bg-color: #4A5568;

    --navbar: #2D3748;
    --logo: #F7FAFC;
    --nav: #CBD5E0;
    --dropdown: #4A5568;
    --dropbtn: #2C5282;
    --dropdown-content: #1A202C;
    --dropdown-content-text: #F7FAFC;

    --slideshow-container: #1A202C;
    --slide: #2C5282;
    --dots-container: #4A5568;
    --dot: #CBD5E0;

    --container: #2D3748;
    --content: #1A202C;
    --left-section: #4A5568;
    --illustration: #2C5282;
    --text-content: #CBD5E0;

    --assessment: #4A5568;
    --study-companion: #4A5568;
    --assessment-container: #2D3748;
    --student-container: #2D3748;
    --assessment-options: #4A5568;

    --hover-content: #2C5282;
    --footer-content: #1A202C;
    --contact-info: #CBD5E0;
    /**/
    --assessment-hover: #17304b;
    --assessment-text: white;
}


:root.purple {
    --bg-color: #e3d3f5;
    --header-bg-color: #e3d3f5;
    --sidebar-bg-color: #a16bbf;
    --sidebar-text-color: #1A202C;
    --content-bg-color: #b68cdb;
    --text-color: #1A202C;
    --hover-bg-color: #d0b2e0;
    --input-bg-color: #e3d3f5;

    --navbar: #a16bbf;
    --logo: #1A202C;
    --nav: #1A202C;
    --dropdown: #a16bbf;
    --dropbtn: #e3d3f5;
    --dropdown-content: #ffffff;
    --dropdown-content-text: #1A202C;

    --slideshow-container: #e3d3f5;
    --slide: #b68cdb;
    --dots-container: #a16bbf;
    --dot: #d0b2e0;

    --container: #ffffff;
    --content: #f3e8fc;
    --left-section: #e5cef6;
    --illustration: #d0b2e0;
    --text-content: #1A202C;

    --assessment: #d0b2e0;
    --study-companion: #d0b2e0;
    --assessment-container: #e3d3f5;
    --student-container: #e3d3f5;
    --assessment-options: #d0b2e0;

    --hover-content: #a16bbf;
    --footer-content: #a16bbf;
    --contact-info: #1A202C;

    /**/
    --assessment-hover: #6a1fab;
    --assessment-text: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #CBD5E0; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

header {
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

#main-content {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--header-bg-color); 
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
    margin-left: auto; 
    margin-right: 70px;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 1px solid transparent;
}

.nav a:hover, .nav a.active {
    background-color: var(--hover-bg-color);
    color: var(--text-color);
    font-weight: 700;
    border: 1px solid black;
}

.dropdown {
    position: relative;
    margin-top: 10px;
}

.dropdown {
    position: relative;
    margin-top: 10px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown);
    margin-top: 10px;
    padding: 10px 0;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%; 
    transform: translateX(-50%); 
    max-width: 90vw; 
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--dropbtn);
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#home {
 margin-top: 0;
}

.slideshow-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.slide.active {
    opacity: 1;
    z-index: 1; 
}

.dots-container {
    display: flex; 
    align-items: center; 
    margin-top: 10px; 
    justify-content: center;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    margin-top: 20px;
}

.left-section {
    flex: 1;
}

.illustration img {
    width: 100%; 
    max-width: 700px;
    height: auto;
}

.text-content {
    max-width: 400px;
    text-align: justify;
}

.text-content h1 {
    font-size: 48px;
    color: var(--text-color);
    margin: 0;
    font-weight: 800;
}

.text-content p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
}

#assessment, #study-companion {
    margin-top: 200px;
}

.assessment h1, .study-companion h1 {
    font-weight: 800;
    color: var(--text-color);
}

.assessment h1 {
    text-align: right; 
    font-size: 4.5rem; 
    margin-right: 55px;
}

.study-companion h1 {
    text-align: left;
    font-size: 4rem; 
    margin-left: 55px;
}

.assessment-container, .student-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 80vw;
}

.assessment-options {
    background-color: var(--content-bg-color);
    color: var(--sidebar-text-color);
    text-align: center;
    flex: 1 1 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 60vh;
    margin: 13vh 13px;
    position: relative;
    border-radius: 10px;
    box-shadow: -10px 10px 0px var(--text-color);
}

.assessment-options::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: var(--content-bg-color);
    border-radius: 10px;
    z-index: -1;
    box-shadow: -10px 10px 0px var(--text-color);
}

.assessment-options button {
    cursor: pointer;
    padding: 5px 15px;
    background-color: var(--sidebar-bg-color);
    border-radius: 8px;
    border: 1px solid var(--text-color);
    transition: transform 0.3s ease;
}

.assessment-options button:hover {
    background-color: var(--assessment-hover);
    color: var(--assessment-text);
}

.hover-content {
    display: none;
    margin: 10px;
}

.assessment-options:hover .hover-content {
    display: block; 
}

.assessment-options a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color);
}

.student-container {
    background-color: var(--content-bg-color);
    color: var(--sidebar-text-color);
    text-align: center;
    flex: 1 1 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin: 13vh 13px;
    position: relative;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20vh;
    margin-top: 20vh;
    box-shadow: -10px 10px 0px var(--text-color);
}

.student-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: var(--content-text-color);
    border-radius: 10px;
    z-index: -1;
    box-shadow: -10px 10px 0px var(--text-color);
}

.student-container:hover .hover-content {
    display: block; 
}

.student-container a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color);
}


button {
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px 15px;
    background-color: var(--sidebar-bg-color);
    border-radius: 8px;
    border: 1px solid var(--text-color);
    transition: transform 0.3s ease;
    color: var(--text-color);
}

footer {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    padding: 20px;
    z-index: 1;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

footer p {
    margin: 5px 0;
    line-height: 1.6;
}

footer .contact-info {
    text-align: left;
    margin-top: 10px;
}

footer .contact-info p {
    margin: 5px;
}

footer .copyright {
    text-align: left;
    margin-top: 20px;
}

footer .copyright::before {
    content: "";
    display: block;
    width: 240px;
    height: 2px;
    background-color: var(--sidebar-text-color);
    margin-bottom: 10px;
}

.main-logo {
    width: 140px;
    height: 50px;
}

.dropdown-content a {
    color: var(--dropdown-content-text);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-icon {
    display: none; 
    font-size: 24px;
    cursor: pointer;
    color: #1A202C;
    margin-right: 40px;
}

@media (max-width: 400px) { 
    body {
        padding-top: 60px; 
    }

    header {
        flex-direction: row; 
        padding: 5px 0px;
    }

    .logo {
        flex: 1;
    }

    .menu-icon {
        display: block; 
        margin-left: auto; 
    }

    .nav {
        display: none;
        flex-direction: column; 
        position: absolute; 
        background-color: var(--header-bg-color); 
        top: 60px; 
        left: 0;
        width: 100%; 
        z-index: 1000; 
        padding: 10px 0; 
    }

    .navbar {
        text-align: center;
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        padding: 10px 20px; 
        text-align: center; 
    }

    .text-content {
        max-width: 90%; 
        text-align: justify;
        padding: 0 10px; 
    }
    
    .text-content h1 {
        font-size: 5rem;
        color: #1A202C;
        margin: 0;
        font-weight: 800;
    }
    
    .text-content p {
        font-size: 4vw; 
        color: #1A202C;
        line-height: 1.5;
        word-wrap: break-word; 
        overflow-wrap: break-word;
    }

    .slideshow-container {
        height: 70vh;
    }

    .text-content h1 {
        font-size: 28px;
    }

    .text-content p {
        font-size: 14px;
    }

    .illustration {
        max-width: 90%;
        height: auto;
        margin-bottom: 10px; 
    }

    .dots-container {
        display: flex; 
        justify-content: center;
        margin-top: 20px; 
    }

    .container, .content, .assessment-container, .student-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .assessment h1, .study-companion h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 5px 0;
    }

    .assessment-options {
        flex: 1 1 100%;
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .assessment-options a, .student-container a {
        font-size: 1.5rem;
    }

    .student-container {
        flex: 1 1 100%;
        width: 85%;
        height: auto;
        margin: 30px;
        margin-bottom: 100px;
    }

    footer {
        font-size: 12px;
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }

    .contact-info p, footer p {
        margin: 3px 0;
    }
}
